<div>
  <div class="message-outer">
    <div class="message-wrap">
      <% if @user.profile_picture %>
        <%= image_tag(@user.profile_picture.to_s, height:'50', width:'50') %>
      <% end %>
      <div class="message-boxing">
          <div class="message-body">
            <strong><%= msg.user.first_name %> <%= msg.user.last_name %> : </strong> <%= msg.body %>
          </div>
          <div class="message-timing">
            <span style="font-size:16px;color:grey;"><%= time_ago_in_words(msg.created_at) %> ago</span>
          </div>
      </div>
    </div>
  </div>
</div>
