<% if (msg.mp3.nil? && msg.mp4.nil?) %>
<div>
  <div class="message-outer" data-attr="<%= msg.user.id %>"
    <% if nobroadcast.nil? == false && nobroadcast && msg.user.id != current_user.id %>
      class="messages-of-others"
    <% end %>
    >
    <div class="message-wrap">
      <% if msg.user.profile_picture.present? %>
        <%= image_tag(msg.user.profile_picture.to_s, height:'100', width:'100',class:'profile-picture') %>
      <% end %>
      <div class="message-boxing">
          <div class="message-body">
            <strong><%= msg.user.first_name %> <%= msg.user.last_name %> : </strong> <%= msg.body %>
          </div>
          <div class="message-timing">
            <span style="font-size:16px;color:grey;"><%= time_ago_in_words(msg.created_at) %> ago</span>
          </div>
      </div>
    </div>
  </div>
</div>
<% end %>
<% if msg.mp3.nil? == false %>
  <div>
    <div class="message-outer" data-attr="<%= msg.user.id %>"
      <% if nobroadcast.nil? == false && nobroadcast && msg.user.id != current_user.id %>
        class="messages-of-others"
      <% end %>
      >
      <div class="message-wrap">
        <% if msg.user.profile_picture.present? %>
          <%= image_tag(msg.user.profile_picture.to_s, height:'100', width:'100',class:'profile-picture') %>
        <% end %>
        <div class="message-boxing">
            <div class="message-body">
              <strong><%= msg.user.first_name %> <%= msg.user.last_name %> : </strong>
              <%= audio_tag(msg.mp3, autoplay:false, controls:true, type:"audio/mpeg") %>
            </div>
            <div class="message-timing">
              <span style="font-size:16px;color:grey;"><%= time_ago_in_words(msg.created_at) %> ago</span>
            </div>
        </div>
      </div>
    </div>
  </div>
<% end %>
<% if msg.mp4.nil? == false %>
  <div>
    <div class="message-outer" data-attr="<%= msg.user.id %>"
      <% if nobroadcast.nil? == false && nobroadcast && msg.user.id != current_user.id %>
        class="messages-of-others"
      <% end %>
      >
      <div class="message-wrap">
        <% if msg.user.profile_picture.present? %>
          <%= image_tag(msg.user.profile_picture.to_s, height:'100', width:'100',class:'profile-picture') %>
        <% end %>
        <div class="message-boxing">
            <div class="message-body">
              <strong><%= msg.user.first_name %> <%= msg.user.last_name %> : </strong>
              <%= video_tag(msg.mp4, autoplay:false, controls:true, type:"video/mpeg", height:'180', width:'300') %>
            </div>
            <div class="message-timing">
              <span style="font-size:16px;color:grey;"><%= time_ago_in_words(msg.created_at) %> ago</span>
            </div>
        </div>
      </div>
    </div>
  </div>
<% end %>
