<div>
  <div class="message-outer">
    <div class="message-wrap">
      <% if msg.user.profile_picture.present? %>
        <%= image_tag(msg.user.profile_picture.to_s, height:'100', width:'100',class:'profile-picture') %>
      <% end %>
      <div class="message-boxing-audio">
        <%= image_tag("audio.svg",width:'80',height:'80') %>
          <div class="message-body">
            <div>
              <strong><%= msg.user.first_name %> <%= msg.user.last_name %> : </strong>
            </div>
            <div>
                <% if browser == "safari" || browser == "iphone" %>
                <audio controls="controls" preload="auto" src="<%= msg.mp3 %>" type="audio/ogg" />
                <% else %>
                  <audio controls="controls" preload="auto">
                    <source src="<%= msg.mp3 %>" type="audio/mpeg">
                  </audio>
                <% end %>
            </div>
          </div>
          <div class="message-timing">
            <span><%= time_ago_in_words(msg.created_at) %> ago</span>
          </div>
      </div>
    </div>
  </div>
</div>
