<div>
  <div class="message-outer">
    <div class="message-wrap">
      <% if msg.user.profile_picture.present? %>
        <%= image_tag(msg.user.profile_picture.to_s, height:'100', width:'100',class:'profile-picture') %>
      <% end %>
      <div class="message-boxing">
          <div class="message-body">
            <strong><%= msg.user.first_name %> <%= msg.user.last_name %> : </strong> <%= msg.body %>
            <audio src="<%= msg.mp3 %>" autoplay=false controls=true />
          </div>
          <div class="message-timing">
            <span style="font-size:16px;color:grey;"><%= time_ago_in_words(msg.created_at) %> ago</span>
          </div>
      </div>
    </div>
  </div>
</div>
