<div>
  <div class="message-outer">
    <div class="message-wrap">
      <% if msg.user.profile_picture.present? %>
        <%= image_tag(msg.user.profile_picture.to_s, height:'100', width:'100',class:'profile-picture') %>
      <% end %>
      <%= image_tag("https://cdn2.iconfinder.com/data/icons/web-set-1/50/65-512.png",width:'80',height:'80') %>
      <div class="message-boxing-video">
          <div class="message-body">
            <div>
              <strong><%= msg.user.first_name %> <%= msg.user.last_name %> : </strong>
            </div>
            <div>
              <%= video_tag(msg.mp4, autoplay:false, controls:true, type:"video/mpeg", height:'180', width:'300') %>
            </div>
          </div>
          <div class="message-timing">
            <span><%= time_ago_in_words(msg.created_at) %> ago</span>
          </div>
      </div>
    </div>
  </div>
</div>
