<%= form_for @user, url: {action: "create"}  do |f| %>

<div class="form-outer">
 <div class="forming">
   <div class="forming-header">
     Signup
   </div>
   <div class="form-contents">
     <div class="form-individual">
       <%= f.text_field :first_name, class:"big-inputting", placeholder:"First Name", autocomplete: :off %>
     </div>
     <div class="form-individual">
       <%= f.text_field :last_name, class:"big-inputting", placeholder:"Last Name", autocomplete: :off %>
     </div>
     <div class="form-individual">
       <%= f.text_field :user_name, class:"big-inputting", placeholder:"Username", autocomplete: :off %>
     </div>
     <div class="form-individual">
       <%= f.text_field :email, class:"big-inputting", placeholder:"Email", autocomplete: :off %>
     </div>
     <div class="form-individual">
       <%= f.password_field :password, class:"big-inputting", placeholder:"Password", autocomplete: :off %>
     </div>
     <div class="form-individual">
       <%= f.password_field :confirm_password, class:"big-inputting", placeholder:"Confirm Password", autocomplete: :off %>
     </div>
     <div class="form-individual">
       <%= f.submit "Sign Up", class:"submitting" %>
     </div>
   </div>
 </div>
</div>

<% end %>
