<div class="outer-whitechat" style="display:flex;justify-content:center;align-self:center">
  <div class="whitechat">
    <div class="messages-display">
      <div class="inner-messages">
        <% @messaging.each do |msg| %>
          <%= render "messages/message", msg: msg %>
        <% end %>
      </div>
    </div>
    <div class="messages-input">
      <%= form_for @message, url: {action: "create"}, remote: true do |f| %>
        <%= f.text_field :body, class:"messages-input-field", autocomplete: :off %>
        <%= f.submit "Send", class:"messages-input-button", placeholder: "Type text and send to everyone!" %>
      <% end %>
      <p>
        <%= image_tag("microphone.svg", id:"record", height:'40px', width:'40px') %>
      </p>
      <audio id="recordedAudio"></audio>
    </div>
  </div>
</div>
<div class="online2-outer">
  <div id="online2">
    <h2 style="padding:13px;margin-block-start: 0px;">People currently in chatroom (online)</h2>
    <% @users.each do |usering| %>
      <% if usering.online? == false %>
        <%= content_tag(:div, id: "user_" + usering.id.to_s, class:"hidden-user") do -%>
          <div>
            <%= image_tag(usering.profile_picture.to_s, width:'100', height:'100') %> <span style="font-size:25px;margin-left: 20px;"><%= usering.first_name + " " + usering.last_name %></span>
          </div>
        <% end -%>
      <% end %>
      <% if usering.online? == true %>
        <%= content_tag(:div, id: "user_" + usering.id.to_s, class:"background-green-online") do -%>
          <div>
            <%= image_tag(usering.profile_picture.to_s, width:'100', height:'100') %> <span style="font-size:25px;margin-left: 20px;"><%= usering.first_name + " " + usering.last_name %></span>
          </div>
        <% end -%>
      <% end %>
    <% end %>
  </div>
</div>
<%= audio_tag("definite.mp3", autoplay: false, controls: true, style: "display:none", id:"hollow-copy") %>
<%= audio_tag("definite_iphone.m4r", autoplay: false, controls: true, style: "display:none", id:"hollow-copy-1") %>
