<div class="outer-whitechat" style="display:flex;justify-content:center;align-self:center">
  <div class="whitechat">
    <div class="messages-display">
      <div class="inner-messages">
        <% @messaging.each do |msg| %>
          <%= render "messages/message", msg: msg %>
        <% end %>
      </div>
    </div>
    <div class="messages-input">
      <%= form_for @message, url: {action: "create"}, remote: true do |f| %>
        <%= f.text_field :body, class:"messages-input-field", autocomplete: :off %>
        <%= f.submit "Send", class:"messages-input-button", placeholder: "Type text and send to everyone!" %>
      <% end %>
      <p>
        <button id="record"></button>
        <button id="stopRecord" disabled>Stop</button>
      </p>
      <audio id="recordedAudio"></audio>
    </div>
  </div>
</div>
<%= audio_tag("definite.mp3", autoplay: false, controls: true, style: "display:none", id:"hollow-copy") %>
<%= audio_tag("definite_iphone.m4r", autoplay: false, controls: true, style: "display:none", id:"hollow-copy-1") %>
