<div>
  I am on video page now!
  <%= link_to "Destroy connection", video_path(id: @client.id), method: :delete %>
</div>
<div class="both-videos">
  <div class="sending-video">
    <div class="sending-video-header">
      <div class="inner-sending-video-header">
        <% if current_user.profile_picture.present? %>
          <%= image_tag(current_user.profile_picture.to_s, height:'120px', width:'120px',class:"profile-rounded") %>
        <% else %>
          <%= image_tag("https://aliphotoappimages.s3.ca-central-1.amazonaws.com/svg/avatar.png",width:'150',height:'150',class:"profile-rounded") %>
        <% end %>
        <%= current_user.first_name %> <%= current_user.last_name %>
      </div>
    </div>
    <video autoplay muted id="sending-video" width="400px" height="225px"></video>
  </div>
  <div class="receiving-video">
    <div class="receiving-video-header">
      <div class="inner-receiving-video-header">
        <% if @client.profile_picture.present? %>
          <%= image_tag(@client.profile_picture.to_s, height:'120px', width:'120px',class:"profile-rounded") %>
        <% else %>
          <%= image_tag("https://aliphotoappimages.s3.ca-central-1.amazonaws.com/svg/avatar.png",width:'150',height:'150',class:"profile-rounded") %>
        <% end %>
        <%= @client.first_name %> <%= @client.last_name %>
      </div>
    </div>
    <img id="returned-photo" src="" width="700px" height="395px">
  </div>
</div>
<script>
$( document ).on('turbolinks:load', function() {
  const video = document.querySelector('video');
  try{
    navigator.mediaDevices.getUserMedia({video: {width: 100, height: 56}, audio: true}).then((stream) => video.srcObject = stream);
  }
  catch(err)
  {
    console.log("Live video failed:     Error:    " + err);
  }
  const getFrame = () => {
    const canvas = document.createElement('canvas');
    canvas.width = video.videoWidth;
    canvas.height = video.videoHeight;
    canvas.getContext('2d').drawImage(video, 0, 0);
    const data = canvas.toDataURL('image/jpeg');
    return data;
  }
  const img = document.getElementById("returned-photo");
  const WS_URL2 = 'wss://www.downlink.online/cable';
  const ws = new WebSocket(WS_URL2);

  const FPS = 3;
  let msg;
  msg = {
    command: 'subscribe',
    identifier: JSON.stringify({
      channel: 'VideoChannel',
    }),
  };
  ws.onopen = () => {
    console.log('Connected to ${WS_URL}');
    ws.send(JSON.stringify(msg));
    setInterval(() => {
      msg = {
        command: 'message',
        identifier: JSON.stringify({
          channel: "VideoChannel",
        }),
        data: JSON.stringify({
          action: 'handle_messages',
          image: getFrame(),
          receiver_id: <%= @client.id %>,
        }),
      };
      ws.send(JSON.stringify(msg));
    }, 1000 / FPS);
  }
});
</script>
