<div class="experimental-messages" data-attr="<%= current_user.id %>"></div>

<div class="private-messages-container">
<% @private_messages.each do |msg| %>
 <%= render "private/message", msg: msg %>
<% end %>
</div>

<%= form_for @private_message, url: {action:"create", controller:"private"}, remote: true do |f| %>
  <%= f.text_field :body, autocomplete: :off, class:'private-message-input' %>
  <%= f.hidden_field :recipient, :value => @recipient.to_i %>
  <%= f.submit "Send", class:'private-message-button' %>
<% end %>

<%= audio_tag("definite.mp3", autoplay: false, controls: true, style: "display:none", id:"hollow-copy") %>
<%= audio_tag("definite_iphone.m4r", autoplay: false, controls: true, style: "display:none", id:"hollow-copy-1") %>
