<% @private_messages.each do |msg| %>
  <div style="display: flex;" class="private-message-all <% if msg.user != current_user %>private-message-others<% end %>">
  <% if msg.user.profile_picture.nil? == false %>
    <div class="private-message-image-box">
      <%= image_tag(msg.user.profile_picture.to_s, height:'90', width:'90', class:'profile-rounded') %>
    </div>
  <% end %>
    <div class="private-message-outer">
      <div class="private-message-box">
        <%= msg.user.first_name %> <%= msg.user.last_name %>: <%= msg.body %>
      </div>
      <div class="private-message-timing">
        <%= time_ago_in_words(msg.created_at) %> ago
      </div>
    </div>
  </div>
<% end %>

<%= form_for @private_message, url: {action:"create", controller:"private"}, remote: true do |f| %>
  <%= f.text_field :body, autocomplete: :off %>
  <%= f.hidden_field :recipient, :value => @recipient.to_i %>
  <%= f.submit "Send" %>
<% end %>
