<% @private_messages.each do |msg| %>
  <div class="private-message-outer">
    <div class="private-message-box">
      <% if msg.user.profile_picture.nil? == false %>
        <%= image_tag(msg.user.profile_picture.to_s, height:'90', width:'90') %>
      <% end %>
      <%= msg.user.first_name %> <%= msg.user.last_name %>: <%= msg.body %>
    </div>
  </div>
<% end %>

<%= form_for @private_message, url: {action:"create", controller:"private"}, remote: true do |f| %>
  <%= f.text_field :body, autocomplete: :off %>
  <%= f.hidden_field :recipient, :value => @recipient.to_i %>
  <%= f.submit "Send" %>
<% end %>
