<div class="experimental-messages" data-attr="<%= current_user.id %>"></div>

<div class="private-messages-container">
<% @private_messages.each do |msg| %>
 <%= render "private/message", msg: msg %>
<% end %>
</div>

<%= form_for @private_message, url: {action:"create", controller:"private"}, remote: true do |f| %>
  <div class="private-message-rounded-send">
    <%= f.text_field :body, autocomplete: :off, class:'private-message-input' %>
    <%= f.hidden_field :recipient, :value => @recipient.to_i %>
    <%= image_submit_tag("private_message_send.svg", height:'50', width:'50', class:'private-message-send') %>
  </div>
<% end %>
<%= image_tag("https://aliphotoappimages.s3.ca-central-1.amazonaws.com/svg/microphone.svg", id:"private_record", height:'90px', width:'90px', data: {attr: @recipient.to_i}) %>
<%= image_tag("https://aliphotoappimages.s3.ca-central-1.amazonaws.com/svg/video.svg", id:"private_recordVideo", height:'90px', width:'90px', data: {attr: @recipient.to_i}) %>
<img src="https://aliphotoappimages.s3.ca-central-1.amazonaws.com/svg/microphone_off.svg" height="0px" width="0px" />
<img src="https://aliphotoappimages.s3.ca-central-1.amazonaws.com/svg/videoOff.svg" height="0px" width="0px" />
<%= link_to private_chat_path(id: @recipient.to_i), method: :delete do %>
  <%= image_tag("https://aliphotoappimages.s3.ca-central-1.amazonaws.com/svg/private_message_empty.svg", height:'90', width:'90', class:'private-message-empty') %>
<% end %>
<%= image_tag("https://aliphotoappimages.s3.ca-central-1.amazonaws.com/svg/private_message_empty_hover.svg", height:'0', width:'0') %>

<%= audio_tag("definite.mp3", autoplay: false, controls: true, style: "display:none", id:"hollow-copy") %>
<%= audio_tag("definite_iphone.m4r", autoplay: false, controls: true, style: "display:none", id:"hollow-copy-1") %>
<%= image_tag("https://aliphotoappimages.s3.ca-central-1.amazonaws.com/svg/private_message_send.svg", height:'0', width:'0') %>
<%= image_tag("https://aliphotoappimages.s3.ca-central-1.amazonaws.com/svg/private_message_send_hover.svg", height:'0', width:'0') %>
