<div class="experimental-messages" data-attr="<%= current_user.id %>">

<div class="private-messages-container">
<% @private_messages.each do |msg| %>
 <%= render "private/message", msg: msg %>
<% end %>
</div>

<%= form_for @private_message, url: {action:"create", controller:"private"}, remote: true do |f| %>
  <%= f.text_field :body, autocomplete: :off %>
  <%= f.hidden_field :recipient, :value => @recipient.to_i %>
  <%= f.submit "Send" %>
<% end %>
