<% if logged_in? %>
  <div class="cards-live">
    <% @users.each do |usr| %>
      <% if usr.id != current_user.id %>
        <div class="card-live">
            <% if usr.profile_picture.present? %>
              <div class="image-card-live">
                <%= image_tag(usr.profile_picture.to_s, width: '150', height:'150', class:"profile-rounded") %>
              </div>
            <% else %>
              <div class="image-card-live">
                <%= image_tag("https://aliphotoappimages.s3.ca-central-1.amazonaws.com/svg/avatar.png",width:'150',height:'150',class:"profile-rounded") %>
              </div>
            <% end %>
            <div class="name-card-live-outer">
              <div class="name-card-live">
                <div class="card-inner-name">
                  <%= usr.first_name %> <%= usr.last_name %>
                </div>
                <div class="card-inner-buttons">
                  <%= link_to video_path(id: usr.id), method: :post do %>
                    <%= image_tag("https://cdn4.iconfinder.com/data/icons/REALVISTA/multimedia/png/400/videocam.png", width:'80', height:'80') %>
                  <% end %>
                </div>
                <div class="card-inner-buttons">
                <%= link_to private_chat_path(id: usr.id) do %>
                  <%= image_tag("private_messages_logo.svg", width:'80', height:'80') %>
                <% end %>
                </div>
              </div>
            </div>
        </div>
      <% end %>
    <% end %>
  </div>
<% end %>
