<div>
  <% if logged_in? %>
    <div class= "white-glassy">
      <div class="ln1 bottom-separation">
        <div class="ln2">
          <%= current_user.first_name %> <%= current_user.last_name %>
        </div>
      </div>
      <div class="ln1 bottom-separation">
        <img src="https://vectr.com/wintersoil/b9mw3Dzaz.svg?width=50&height=50&select=b9mw3Dzazpage0"/>
        <div class="ln2">
          <%= current_user.email %>
        </div>
      </div>
      <div class="ln1 bottom-separation">
        <div class="ln2">
          <%= current_user.user_name %>
        </div>
      </div>
      <div class="ln1">
        <img src="https://vectr.com/wintersoil/aGiLgC5ZV.svg?width=50&height=50&select=aGiLgC5ZVpage0" />
        <div class="ln2">
          <%= link_to "Sign Out", logout_path, method: :delete, class:"nav-link-1" %>
        </div>
      </div>
    </div>
  <% end %>
  <% if !logged_in? %>
    <div class="white-glassy">
      <div class="not-logged-in">
        You are not logged in to the application. Please <%= link_to "Login", login_path, class:"nav-link-1" %> to continue.
      </div>
    </div>
  <% end %>
</div>
