<div>
  <% if logged_in? %>
    <div class= "white-glassy">
      <div class="ln1 bottom-separation">
        <div class="ln2">
          <%= current_user.first_name %> <%= current_user.last_name %>
        </div>
      </div>
      <div class="ln1 bottom-separation">
        <div class="ln3">
          <img src="https://vectr.com/wintersoil/kwPnfMgcS.svg?width=50&height=50&select=kwPnfMgcSpage0"/>
        </div>
        <div class="ln2">
          <%= current_user.email %>
        </div>
      </div>
      <div class="ln1 bottom-separation">
        <div class="ln3">
          <img src="https://vectr.com/wintersoil/c1x9xzNpgW.svg?width=50&height=50&select=c1x9xzNpgWpage0" />
        </div>
        <div class="ln2">
          <%= current_user.user_name %>
        </div>
      </div>
      <div class="ln1">
        <div class="ln3">
          <img src="https://vectr.com/wintersoil/ghCEhp1.svg?width=50&height=50&select=ghCEhp1page0" />
        </div>
        <div class="ln2">
          <%= link_to "Sign Out", logout_path, method: :delete, class:"nav-link-1" %>
        </div>
      </div>
    </div>
  <% end %>
  <% if !logged_in? %>
    <div class="white-glassy">
      <div class="not-logged-in">
        You are not logged in to the application. Please <%= link_to "Login", login_path, class:"nav-link-1" %> to continue.
      </div>
    </div>
  <% end %>
  <div class="white-glassy">
    <div class="white-glassy-intro">
      <h3>ChatRepublic Business Web Chat</h3>
      <p>Chat Republic is a free to use web application and was built with the small business owner in mind. With the website, businesses can interact with customers easily by using tools to automate, sort, and quickly respond to messages.</p>
      <p>Chat Republic can help you provide customer support and deliver important notifications to your customers. Learn more about Chat Republic Business API.</p>
    </div>
  </div>
</div>
