<div>
  <% if logged_in? %>
    <div class= "white-glassy">
      <div class="ln1 bottom-separation">
        <div class="ln2">
          <%= current_user.first_name %> <%= current_user.last_name %>
        </div>
      </div>
      <div class="ln1 bottom-separation">
        <div class="ln3">
          <img src="https://vectr.com/wintersoil/kwPnfMgcS.svg?width=50&height=50&select=kwPnfMgcSpage0"/>
        </div>
        <div class="ln2">
          <%= current_user.email %>
        </div>
      </div>
      <div class="ln1 bottom-separation">
        <div class="ln3">
          <img src="https://vectr.com/wintersoil/c1x9xzNpgW.svg?width=50&height=50&select=c1x9xzNpgWpage0" />
        </div>
        <div class="ln2">
          <%= current_user.user_name %>
        </div>
      </div>
      <div class="ln1">
        <div class="ln3">
          <img src="https://vectr.com/wintersoil/ghCEhp1.svg?width=50&height=50&select=ghCEhp1page0" />
        </div>
        <div class="ln2">
          <%= link_to "Sign Out", logout_path, method: :delete, class:"nav-link-1" %>
        </div>
      </div>
    </div>
  <% end %>
  <% if !logged_in? %>
    <div class="white-glassy">
      <div class="not-logged-in">
        You are not logged in to the application. Please <%= link_to "Login", login_path, class:"nav-link-1" %> to continue.
      </div>
    </div>
  <% end %>
</div>
