<div>
  <% if logged_in? %>
    <div class= "white-glassy">
      <div class="ln1 bottom-separation">
        <div class="ln3">
          <%= image_tag("name.svg", height:'50',width:'50') %>
        </div>
        <div class="ln2">
          <%= current_user.first_name %> <%= current_user.last_name %>
        </div>
      </div>
      <div class="ln1 bottom-separation">
        <div class="ln3">
          <%= image_tag("email.svg",height:'50',width:'50') %>
        </div>
        <div class="ln2">
          <%= current_user.email %>
        </div>
      </div>
      <div class="ln1 bottom-separation">
        <div class="ln3">
          <%= image_tag("profile.svg",height:'50',width:'50') %>
        </div>
        <div class="ln2">
          <%= current_user.user_name %>
        </div>
      </div>
      <div class="ln1">
        <div class="ln3">
          <%= image_tag("logout.svg",height:'50',width:'50') %>
        </div>
        <div class="ln2">
          <%= link_to "Log Out", logout_path, method: :delete, class:"nav-link-1" %>
        </div>
      </div>
    </div>
  <% end %>
  <% if !logged_in? %>
    <div class="white-glassy">
      <div class="not-logged-in">
        You are not logged in to the application. Please <%= link_to "Login", login_path, class:"nav-link-1" %> to continue.
      </div>
    </div>
  <% end %>
  <div class="griddy">
    <div class="white-glassy">
      <div class="white-glassy-intro" id="intro">
        <%= image_tag("chat-intro.svg",height:'225',width:'225') %>
        <h3>ChatRepublic Web Chat</h3>
        <p>ChatRepublic is a free chat messagin app. Users can share text-based chats, photos, videos and more across the service, which is available on a range of mobile platforms and also for desktop. Chat Republic keeps it simple.</p>
      </div>
    </div>
    <div class="white-glassy" id="history">
      <div class="white-glassy-intro" id="">
        <%= image_tag("chat-history.svg",height:'225',width:'225') %>
        <h3>History</h3>
        <p>Keep a history of all your public, private and group chats. You can also download the history to any device through the backup feature.</p>
      </div>
    </div>
  </div>
</div>
