<div>
  <% if logged_in? %>
    <div class= "white-glassy">
      <div class="ln1 bottom-separation">
        <%= current_user.first_name %> <%= current_user.last_name %>
      </div>
      <div class="ln1 bottom-separation">
        <%= current_user.email %>
      </div>
      <div class="ln1 bottom-separation">
        <%= current_user.user_name %>
      </div>
      <div class="ln1">
        <img src="https://vectr.com/wintersoil/k16hwfwm5.svg?width=20&height=20&select=k16hwfwm5page0" />
        <%= link_to "Sign Out", logout_path, method: :delete, class:"nav-link-1" %>
      </div>
    </div>
  <% end %>
  <% if !logged_in? %>
    <div class="white-glassy">
      <div class="not-logged-in">
        You are not logged in to the application. Please <%= link_to "Login", login_path, class:"nav-link-1" %> to continue.
      </div>
    </div>
  <% end %>
</div>
