<div class="griddy">
  <div class="white-glassy">
    <div class="white-glassy-password" id="password">
      <%= image_tag("password.svg", height:'200', width:'200') %>
      <%= form_for @user, url: {action: "update"} do |f| %>
      <div class="form-contents">
         <div class="form-individual">
           <%= f.password_field :password, class:"big-inputting", placeholder:"Password", autocomplete: :off %>
         </div>
         <div class="form-individual">
           <%= f.password_field :confirm_password, class:"big-inputting", placeholder:"Confirm Password", autocomplete: :off %>
         </div>
         <div class="form-individual">
           <%= f.submit "Edit Password", class:"submitting" %>
         </div>
       </div>
      <% end %>
      <h3>Change your password</h3>
      <p>You can change your password here. It is recommended to change your password every 3 months.</p>
      <p>Caution: Do not share your password with anyone or write it in the chatrooms, group or private chats</p>
    </div>
  </div>
  <div class="white-glassy">
    <div class="white-glassy-name" id="name">
      <%= image_tag("name-edit.svg", height:'200', width:'200') %>
      <%= form_for @user, url: {action: "update"} do |f| %>
      <div class="form-contents">
         <div class="form-individual">
           <%= f.text_field :first_name, class:"big-inputting", placeholder:"First Name", autocomplete: :off %>
         </div>
         <div class="form-individual">
           <%= f.text_field :last_name, class:"big-inputting", placeholder:"Last Name", autocomplete: :off %>
         </div>
         <div class="form-individual">
           <%= f.submit "Edit Name", class:"submitting" %>
         </div>
       </div>
      <% end %>
      <h3>Change your first and last name</h3>
      <p>You can change your first and last name here. This name is used to recognise you in chats and if someone visits your profile. Please use your real name so people find it easy to recognise you!</p>
    </div>
  </div>
  <div class="white-glassy">
    <div class="white-glassy-name" id="name">
      <%= image_tag("https://cdn2.iconfinder.com/data/icons/large-people-svg-icons/512/clients_client_user_male_earth-512.png", height:'200', width:'200') %>
      <%= form_for @user, url: {action: "update"} do |f| %>
      <div class="form-contents">
         <div class="form-individual">
           <%= f.text_field :user_name, class:"big-inputting", placeholder:"User Name", autocomplete: :off %>
         </div>
         <div class="form-individual">
           <%= f.submit "Edit Username", class:"submitting" %>
         </div>
       </div>
      <% end %>
      <h3>Change your Username</h3>
      <p>You can change your Username here. The username is used to sign you in to the chat web application and used to recognise you in chats along with full name. The username you pick must be available for you to change to!</p>
    </div>
  </div>
  <div class="white-glassy">
    <div class="white-glassy-name" id="name">
      <%= image_tag("https://icon-library.net/images/email-icon-3d/email-icon-3d-10.jpg", height:'200', width:'200') %>
      <%= form_for @user, url: {action: "update"} do |f| %>
      <div class="form-contents">
         <div class="form-individual">
           <%= f.text_field :email, class:"big-inputting", placeholder:"Email Address", autocomplete: :off %>
         </div>
         <div class="form-individual">
           <%= f.submit "Edit Email", class:"submitting" %>
         </div>
       </div>
      <% end %>
      <h3>Change your Email address</h3>
      <p>You can change your Email address here. The email is used for password recovery and sending push notifications about chat groups and private chats.</p>
    </div>
  </div>

  <div class="white-glassy">
    <div class="white-glassy-name" id="name">
      <%= image_tag("https://cdn1.iconfinder.com/data/icons/skype-icons/512/skype_camera_s.png", height:'200', width:'200') %>
        <% if @user.profile_picture.file.exists? %>
            <%= image_tag(@user.profile_picture.to_s, width:'270') %>
        <% end %>
      <%= form_for @user, :html => { multipart: true }, url: { action: 'uploadprofilepicture' } do |f| %>
      <div class="form-contents">
         <div class="form-individual">
           <%= f.file_field :profile_picture, accept: 'image/jpeg,image/gif,image/png' %>
         </div>
         <div class="form-individual">
           <%= f.submit "Upload Picture", class:"submitting" %>
         </div>
       </div>
      <% end %>
      <h3>Change your Profile Picture</h3>
      <p>You can upload your profile picture. It helps friends identify you more accurately. Having a profile picture gives a more personalized experience.</p>
    </div>
  </div>
</div>
